<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" EnableUpperCase="COGOP_Manager.Web">
  <Applications>
    <!-- Win -->
    <Application Name="COGOP_Manager.Win" FileName="[WinAppBin]\COGOP_Manager.Win.exe" AdapterAssemblyName="[WinAdapterAssemblyName]" CommunicationPort="4100" />
    <!-- Web -->
    <Application Name="COGOP_Manager.Web" UseIISExpress="True" Url="http://localhost:4030" PhysicalPath="[WebAppBin]" AdapterAssemblyName="[WebAdapterAssemblyName]" />
    <!-- For IIS -->
    <!--Application
			Name="COGOP_Manager.Web"
			Url="http://localhost/COGOP Manager.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server="DESKTOP-9HMC7QG\SQLEXPRESS" DBName="COGOP_ManagerEasyTest" />
  </TestDatabases>
  <Aliases>
    <Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
    <Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\COGOP_Manager.Win\Bin\EasyTest" />
    <Alias Name="WebAppBin" Value="[ConfigPath]\..\..\COGOP_Manager.Web" />
  </Aliases>
  <plugin name="cordova-plugin-ios-longpress-fix" version="1.1.0" source="npm" xmlns="http://www.w3.org/ns/widgets" />
  <preference name="FadeSplashScreen" value="false" xmlns="http://www.w3.org/ns/widgets" />
  <preference name="ShowSplashScreenSpinner" value="false" xmlns="http://www.w3.org/ns/widgets" />
</Options>